@import "normalize.scss";
@import "reset.scss";
@import "preloader.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@mixin shadow($x, $y) {
    -webkit-box-shadow: $x $y 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: $x $y 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: $x $y 8px 0px rgba(34, 60, 80, 0.2);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #FFF;
}

div.rightSlide {
    right: 0px;
}

path.liked {
    fill: #FF8585;
    stroke: #FF8585;
}

div.liked {
    background: #FEF0F0;
}

div.inCart {
    background: #5DE276;
}

.rightPanel {
    $panelCartWidth: 400px;

    position: relative;
    position: fixed;
    top: 0px;
    right: -$panelCartWidth;
    height: 100vh;
    width: $panelCartWidth;
    z-index: 3;
    padding: 30px;
    background: #FFF;
    transition: 0.4s ease;
}

.opacity {
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: rgba($color: #000000, $alpha: 0.3)
}

.panelButton {
    height: 55px;
    width: 100%;
    background: #a3d664;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #FFF;
    cursor: pointer;
    transition: 0.4s ease;
    @include shadow(5px,5px );

    &:hover {
        background: #a1eb47;
    }

}

.header {
    border-bottom: 1px solid #9D9D9D;
    margin-bottom: 45px;

    .container {
        height: 128px;
        display: flex;
        justify-content: space-between;
        
    
        .header__logo {
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
            }

            img {
                margin-right: 16px;
            }

            h1 {
                text-transform: uppercase;
                line-height: 25px;
                font-size: 20px;
                font-weight: 800;
                color: #000;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                color: #9D9D9D;
            }
        }

        .header__user {
            display: flex;
            align-items: center;
            
            svg {
                height: 20px;
                width: 20px;
                transition: 0.4s ease;
                fill: #9B9B9B;
                stroke: #9B9B9B;
                cursor: pointer;
                
                &:hover{
                    fill: #000;
                    stroke:#000;
                }
            }

            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0px;
                }
            }

            .header__shopcart {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 10px;
                }
                
                p {
                    color: #413f3f;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

.offer {
    margin-bottom: 39px;
    
    .container {
        display: flex;
        position: relative;

        img {
            border-radius: 20px ;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}

.products {
    position: relative;
    padding-bottom: 20px;
    .container{

        .products__title {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: 32px;
                font-weight: 700;
            }

            .products__search {
                position: relative;
                height: 45px;
                width: 250px;
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    padding-left: 35px;
                    border: none;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #E4E4E4;
                    border-radius: 10px;

                    &:focus-visible {
                        outline: 1px solid #000;
                    }
                }

                .products__searchBtn {
                    position: absolute;
                    top: 11px;
                    left: 8px;
                    border: none;
                    background: inherit;
                    color: #E4E4E4;

                    svg {
                        height: 23px;
                        width: 23px;
                        fill: #E4E4E4;
                        transition: 0.4s ease;
                        cursor: pointer;

                        &:hover {
                            fill: #000;
                        }
                    }
                }
            }
        }

        .products__list {
            width: 100%;
            display: grid;
            grid-template-columns: 210px 210px 210px 210px;
            gap: 40px;

            .products__item {
                position: relative;
                padding: 20px 25px 0px 33px;
                width: 210px;
                height: 260px;
                border: 1px solid #F3F3F3;
                border-radius: 20px;
                @include shadow(3px, 3px);

                .products__like {
                    position: absolute;
                    top: 29px;
                    left: 30px;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #F3F3F3;
                    border-radius: 10px;
                    transition: 0.4s ease;
                    cursor: pointer;

                    svg {
                        width: 18px;
                        height: 18px;
                        fill: #e2dfdf;
                        stroke: #F3F3F3;
                        transition: 0.4s ease;
                    }
                }

                img {
                    width: 133px;
                    height: 112px;
                    margin-bottom: 14px;
                    object-fit: contain;
                }

                .products__title {
                    margin-bottom: 14px;
                    font-size: 14px;
                    font-weight: 400;
                    hyphens: auto;
                    line-height: 16px;
                }
                .products__costWrapper {
                    position: absolute;
                    left: 30px;
                    bottom: 25px;

                    .products__tag {
                        margin-bottom: 3px;
                        color: #BDBDBD;
                        font-size: 12px;
                        text-transform: uppercase;
                    }

                    .products__cost {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 18px;
                    }
                }

                .products__add {
                    position: absolute;
                    right: 29px;
                    bottom: 24px;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #F3F3F3;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.4s ease;

                    svg {
                        width: 16px;
                        height: 16px;
                        fill: #e2dfdf;
                        stroke: #F3F3F3;
                        transition: 0.4s ease;
                    }
                }
            }
        }

    }
}

.panelAdd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .panelAdd__title {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 22px;
            font-weight: 600;
        }

        svg {
            height: 20px;
            width: 20px;
            transition: 0.4s ease;
            fill:#9B9B9B;
            cursor: pointer;
            
            &:hover{
                fill: #000;
            }
        }
    }
    .panelAdd__fields {

        input {
            margin-bottom: 30px;
            padding-left: 10px;
            border: none;
            width: 100%;
            height: 80px;
            border: 2px solid #E4E4E4;
            border-radius: 10px;
            font-size: 16px;
    
            &:focus-visible {
                outline: 2px solid #000;
            }
        }
    }
}

.panelCart {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .panelCart__title {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 22px;
            font-weight: 600;
        }

        svg {
            height: 20px;
            width: 20px;
            z-index: 1;
            transition: 0.4s ease;
            fill:#9B9B9B;
            cursor: pointer;
            
            &:hover{
                fill: #000;
            }
        }
    }
    .panelCart__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 119px;
        padding: 0px 10px;
        margin-bottom: 20px;
        border: 1px solid #E4E4E4;
        border-radius: 15px;

        img {
            margin-right: 10px;
            width: 70px;
            height: 70px;
            object-fit: contain;
        }

        .panelCart__itemTitle {
            width: 50%;
            text-overflow: ellipsis;
            .panelCart__about {
                margin-bottom: 8px;
                font-size: 14px;
                line-height: 16px;
                hyphens: auto;
                
            }

            .panelCart__cost {
                font-size: 14px;
                font-weight: 600;
            }
        }

        .panelCart__deleteBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            border: 1px solid #E4E4E4;
            border-radius: 8px;
            transition: all 0.4s ease;
            cursor: pointer;
            
            &:hover {
                border-color: #000;
            }

            &:hover svg{
                fill: #000;
            }

            svg {
                height: 11px;
                width: 11px;
                fill: #9B9B9B;
                transition: 0.4s ease;
            }
        }
    }

    .panelCart__order {

        .panelCart__money {
            display: flex;
            margin-bottom: 25px;
            align-items: baseline;

            .panelCart__titleOrder {
                margin-right: 7px;
                font-size: 16px;
            }

            .panelCart__ellipsis {
                margin-right: 7px;
                border-bottom: 1px dashed #E4E4E4;
                flex-grow: 1;
            }

            .panelCart__moneyCost {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

.finalPanel {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    visibility: hidden;
    
    img {
        margin-bottom: 20px;
    }

    .finalPanel__title {
        margin-bottom: 9px;
        font-size: 22px;
        font-weight: 600;
    }

    .finalPanel__about {
        text-align: center;
        font-size: 16px;
        color: #757272;
    }
}

.panelCart__ordered {
    visibility: hidden;

    img {
        width: 83px;
        height: 120px;
    }

    .finalPanel__title {
        color: #87C20A;
    }
}

.products__noItems {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    img {
        margin-bottom: 24px;
    }

    .products__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 11px;
    }

    .products__about {
        font-size: 16px;
        color: #757272;
    }
}